body {
	background-color: #0f1145;

	@extend %gilroy-600;
	font-size: 18px;
	line-height: 22px;
	color: $default-color;

	overflow-x: hidden;
}

.container {
	max-width: 1045px;
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
}

.container-wide {
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
	max-width: 1130px;
}


.title {
	color: $title-color;
	font-size: 42px;
	line-height: 50px;
	text-align: center;
	font-style: normal;
	@extend %inter-700;
}

.subtitle {
	margin-top: 32px;

	color: $default-color;
	font-size: 15px;
	line-height: 28px;
	letter-spacing: 0.5px;
	@extend %gilroy-600;
}
