body {
	background-color: #0f1145;

	@extend %gilroy-600;
	font-size: 18px;
	line-height: 22px;
	color: $default-color;

	overflow-x: hidden;
}

.container {
	max-width: 1045px;
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
}

.container-wide {
	padding: 0 15px;
	margin: 0 auto;
	width: 100%;
	max-width: 1130px;
}

.title {
	color: $title-color;
	font-size: 42px;
	line-height: 50px;
	text-align: center;
	font-style: normal;
	@extend %inter-700;
}

.subtitle {
	margin-top: 32px;

	color: $default-color;
	font-size: 15px;
	line-height: 28px;
	letter-spacing: 0.5px;
	@extend %gilroy-600;
}

.btn {
	@extend %button;

	&:hover {
		background: transparent;
		box-shadow: none;
		border-color: $accent-color;
		color: $accent-color;
	}
}

.btn--inactive {
	@extend %button;

	border-color: $accent-color;
	border-radius: 4px;

	color: $accent-color;
	background: transparent;
	box-shadow: none;

	&:hover {
		color: #fff;
		background-color: $accent-color;

		box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
	}
}
