$accent-color: #f2994a;
$title-color: #99efd0;
$default-color: #8476aa;

%button {
	border: 1px solid $accent-color;
	border-radius: 3px;

	color: #fff;
	background-color: $accent-color;

	font-size: 12px;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	@extend %rubik-500;

	width: 157px;
	height: 46px;

	display: flex;
	justify-content: center;
	align-items: center;

	box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
}

%button-inactive {
	background: transparent;
	border-radius: 4px;
	color: $accent-color;
	box-shadow: none;
}

%gilroy-600 {
	font-family: 'gilroy-semibold';
	font-weight: 600;
}

%rubik-500 {
	font-family: 'rubik-medium';
	font-weight: 500;
}

%inter-700 {
	font-family: 'inter-bold';
	font-weight: 700;
}

%rubik-400 {
	font-family: 'rubik-regular';
	font-weight: 400;
}
