@import 'vars';
@import 'fonts';
@import 'normalize';
@import 'glob';

@import 'media';

.top {
	padding-top: 250px;

	.header {
		position: absolute;
		left: 0;
		right: 0;
		top: 80px;
		z-index: 3;

		&__inner {
			display: flex;
			align-items: center;
		}

		&__logo {
			margin-right: 45px;
		}

		&__nav {
			margin-right: auto;
		}

		&__list {
			display: flex;
			align-items: center;
		}

		&__link {
			text-transform: uppercase;
			color: #b5b5b5;
			font-size: 12px;
			line-height: 28px;
			letter-spacing: 2px;
		}

		&__item + .header__item {
			margin-left: 20px;
		}

		&__user {
			width: 112px;
			height: 36px;
		}

		&__user + .header__user {
			margin-left: 20px;
		}

		&__inner {
			display: flex;
			justify-content: space-between;
		}

		&__info {
			max-width: 540px;
			width: 100%;
		}
	}

	&__info {
		padding-bottom: 50px;
	}

	&__inner {
		max-width: 540px;
		margin-right: auto;

		position: relative;

		&::after {
			content: '';
			display: block;

			position: absolute;
			right: -740px;
			top: -30px;
			z-index: 1;

			width: 724px;
			height: 580px;

			background: url(../img/top-img.svg) 95% 50% no-repeat;
			background-size: 100%;
		}
	}

	&__title {
		font-size: 44px;
		text-align: left;
	}

	&__subtitle {
		margin-top: 20px;
	}

	&__link {
		display: inline-flex;

		margin-top: 55px;
	}

	&__link + &__link {
		margin-left: 20px;
	}

	&-video {
		margin-top: 60px;

		display: flex;
		align-items: center;

		&__link {
			background-color: #361c5d;
			border-radius: 4px;

			max-width: 140px;
			width: 100%;
			height: 80px;

			margin-right: 20px;

			display: block;

			position: relative;

			&::after {
				content: '';
				display: block;

				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);

				width: 48px;
				height: 48px;

				background: url(../img/icons/play-btn.svg) center no-repeat;
			}
		}

		&__text {
			@extend %rubik-400;
			font-size: 16px;
			line-height: 22px;
		}

		&__info {
			&-link {
				margin-top: 5px;
				color: #6d6d78;
				@extend %rubik-400;
				font-size: 14px;
				line-height: 22px;
			}
		}
	}
}

.partners {
	padding-top: 50px;
	padding-bottom: 50px;
	&__inner {
		display: flex;
		justify-content: space-around;

		opacity: 0.3;
	}
}

.reasons {
	padding-top: 50px;
	padding-bottom: 75px;

	position: relative;

	&__subtitle {
		text-align: center;
		margin-top: 13px;
	}

	&__box {
		margin-top: 50px;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 35px 50px;

		position: relative;

		&::before,
		&::after {
			content: '';
			display: block;

			position: absolute;
			top: -375px;

			opacity: 0.1;
		}

		&::before {
			left: -220px;

			width: 261px;
			height: 554px;

			background: url(../img/decor/2.svg) center no-repeat;
		}

		&::after {
			right: -220px;

			width: 325px;
			height: 565px;

			background: url(../img/decor/1.svg) center no-repeat;
		}
	}

	&__item {
		padding-left: 52px;

		position: relative;

		&:nth-child(1)::before {
			background: url(../img/icons/icon_1.svg);
		}

		&:nth-child(2)::before {
			background: url(../img/icons/icon_2.svg);
		}

		&:nth-child(3)::before {
			background: url(../img/icons/icon_3.svg);
		}

		&:nth-child(4)::before {
			background: url(../img/icons/icon_4.svg);
		}

		&:nth-child(5)::before {
			background: url(../img/icons/icon_5.svg);
		}

		&:nth-child(6)::before {
			background: url(../img/icons/icon_6.svg);
		}

		&::before {
			content: '';
			display: block;

			position: absolute;
			top: 0;
			left: 0;

			width: 24px;
			height: 24px;

			background: $title-color;
		}
	}

	&__title {
		font-size: 18px;
		@extend %gilroy-700;
		color: $title-color;
	}

	&__text {
		font-size: 14px;
		margin-top: 10px;
	}
}

.traffic {
	padding-top: 75px;
	padding-bottom: 90px;

	&__inner {
		padding-left: 30px;
		display: flex;
		justify-content: space-between;
	}

	&__info {
		margin-top: 55px;
		max-width: 475px;
		width: 100%;
	}

	&__title {
		text-align: left;
	}

	&__subtitle {
		margin-bottom: 45px;
	}

	&__link {
		width: 156px;
		height: 48px;
	}

	&__box {
		position: relative;
		padding-right: 50px;
		padding-bottom: 45px;

		background: url(../img/icons/dots.svg) 185px 245px no-repeat;

		&::before {
			content: '';
			display: block;

			position: absolute;
			top: 18px;
			left: -107px;

			width: 232px;
			height: 225px;

			background: url(../img/traffic/2.png) center no-repeat;
			border-radius: 8.93861px;
		}

		&::after {
			content: '';
			display: block;

			position: absolute;
			bottom: 0;
			left: 35px;

			width: 90px;
			height: 80px;

			background: url(../img/icons/arrow.svg) center no-repeat #13c296;

			box-shadow: -16.0895px 24.1342px 36.6483px rgba(19, 194, 150, 0.24);
			border-radius: 9px;
		}
	}

	&__img {
		border-radius: 10px;
	}
}

.service {
	padding: 90px 0;

	&__title {
		font-size: 36px;
		line-height: 42px;
		letter-spacing: 0.33px;

		max-width: 740px;
		margin: 0 auto;
	}

	&__subtitle {
		line-height: 20px;
		max-width: 425px;
		width: 100%;
		margin: 32px auto 0;
		text-align: center;
	}

	&__box {
		margin-top: 50px;

		display: flex;
		justify-content: space-between;
	}

	&__item {
		max-width: 290px;
		width: 100%;
	}

	&__num {
		color: $title-color;
		font-size: 35px;
		line-height: 42px;
		letter-spacing: 0.32px;
		text-align: center;

		@extend %inter-700;

		margin-bottom: 15px;
	}

	&__text {
		font-size: 15px;
		line-height: 20px;
		letter-spacing: 0.2px;
		text-align: center;
	}
}

.started {
	padding-top: 90px;
	padding-bottom: 350px;

	background: url(../img/decor/4.svg) center 150px no-repeat, url(../img/decor/5.svg) center 315px no-repeat;

	&__title {
		max-width: 770px;
		width: 100%;

		margin: 0 auto 45px;
	}

	&__link {
		margin: 0 auto;
	}
}

.invest {
	padding: 50px 0 75px;

	&__inner {
		display: flex;
		justify-content: space-between;
		padding-left: 30px;
		padding-right: 40px;

		position: relative;

		&::after {
			content: '';
			position: absolute;
			top: 16px;
			right: -323px;
			z-index: -2;

			background: url(../img/decor/6.svg) center no-repeat;

			width: 818px;
			height: 461px;
		}
	}

	&__info {
		margin-top: 55px;

		max-width: 470px;
		width: 100%;
	}

	&__title {
		text-align: left;
	}

	&__subtitle {
		margin-bottom: 45px;
	}

	&__btn {
		height: 54px;
	}

	.tariff-plan {
		position: relative;

		width: 260px;
		height: auto;

		&::before {
			content: '';
			position: absolute;
			top: 122px;
			left: -30px;

			background: $accent-green url(../img/icons/arrow-small.svg) center no-repeat;
			width: 60px;
			height: 60px;

			box-shadow: -11px 16px 25px rgba(19, 194, 150, 0.24);
			border-radius: 6px;
		}

		.thumb {
			position: absolute;
			bottom: 103px;
			right: -113px;
			z-index: -1;

			padding: 15px 30px;

			background: #516ea9;
			box-shadow: -8px 16px 60px rgba(82, 114, 139, 0.24);
			border-radius: 10px;

			&__title {
				color: #fff;
				@extend %montserrat-500;
				font-size: 16px;
				line-height: 20px;
			}

			&__text {
				color: #fff;
				font-size: 10px;
				line-height: 14px;

				@extend %openSans-600;
				letter-spacing: 0.5px;
				opacity: 0.8;
			}
		}

		&__box {
			background-color: #fff;
			box-shadow: -8px 16px 60px rgba(82, 114, 139, 0.24);
			border-radius: 0 0 10px 10px;

			padding: 20px 30px;
		}

		&__title {
			@extend %montserrat-500;
			font-size: 16px;
			line-height: 20px;
			color: #212b36;

			margin-bottom: 2px;
		}

		&__subtitle {
			@extend %openSans-400;
			font-style: normal;
			font-size: 10px;
			line-height: 14px;
			letter-spacing: 0.5px;
			color: #637381;

			margin-bottom: 22px;
		}

		&__price {
			color: $accent-green;
			@extend %montserrat-400;
			font-size: 24px;
			line-height: 30px;
		}

		&__link {
			@extend %openSans-600;
			font-size: 10px;
			line-height: 14px;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			color: #98a4af;

			display: block;
		}

		.descr {
			margin-top: 20px;
			border-top: 1px solid #d6dbdf;
			padding-top: 15px;

			display: flex;
			justify-content: space-between;
			align-items: center;

			&__title {
				color: #212b36;
				@extend %montserrat-500;
				font-size: 14px;
				line-height: 17px;
			}

			&__text {
				@extend %openSans-400;
				color: #637381;
				font-size: 10px;
				line-height: 14px;
				letter-spacing: 0.5px;
			}
		}
	}
}

.features {
	padding-top: 30px;
	padding-bottom: 75px;
	padding-left: 77px;

	&__inner {
		display: flex;
		justify-content: space-between;

		position: relative;
		&::after {
			content: '';
			position: absolute;
			top: -77px;
			right: -93px;
			z-index: -1;

			width: 384px;
			height: 566px;

			background: url(../img/decor/9.svg) center no-repeat;
		}
	}

	&__box {
		position: relative;
		width: 375px;
		height: 422px;

		&::before {
			content: '';

			position: absolute;
			top: -27px;
			left: -35px;
			z-index: -1;

			width: 138px;
			height: 67px;



			background: url(../img/decor/7.svg) center no-repeat;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 150px;
			right: -47px;
			z-index: -1;

			width: 71px;
			height: 67px;

			background: url(../img/decor/8.svg) center no-repeat;
		}
	}

	&__decor {
		position: absolute;
		bottom: 83px;
		left: -77px;
		z-index: -1;
	}

	&__info {
		max-width: 512px;
		width: 100%;
	}

	&__title {
		max-width: 480px;

		@extend %inter-700;
		font-size: 26px;
		line-height: 32px;
		letter-spacing: 0.32px;
		color: $title-color;

		margin-bottom: 32px;
	}

	&__text {
		font-size: 15px;
		line-height: 20px;
		letter-spacing: 0.2px;

		margin-bottom: 48px;
	}

	&-box {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 30px 60px;

		&__item {
			position: relative;

			padding-top: 52px;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;

				width: 36px;
				height: 36px;
			}

			&:nth-child(1)::before {
				background: url(../img/features/2.svg) center no-repeat;
			}

			&:nth-child(2)::before {
				background: url(../img/features/3.svg) center no-repeat;
			}
		}

		&__title {
			@extend %inter-700;
			font-size: 15px;
			line-height: 18px;
			letter-spacing: 0.2px;
			color: $title-color;

			margin-bottom: 8px;
		}

		&__text {
			font-size: 15px;
			line-height: 20px;
			letter-spacing: 0.2px;
		}
	}
}
