@import 'vars';
@import 'fonts';
@import 'normalize';
@import 'glob';

@import 'media';

.top {
	padding-top: 250px;

	background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);

	.header {
		position: absolute;
		left: 0;
		right: 0;
		top: 80px;
		z-index: 3;

		&__inner {
			display: flex;
			align-items: center;
		}

		&__logo {
			margin-right: 45px;
		}

		&__nav {
			margin-right: auto;
		}

		&__list {
			display: flex;
			align-items: center;
		}

		&__link {
			text-transform: uppercase;
			color: #b5b5b5;
			font-size: 12px;
			line-height: 28px;
			letter-spacing: 2px;
		}

		&__item + .header__item {
			margin-left: 20px;
		}

		&__user {
			@extend %button;

			width: 112px;
			height: 36px;

			&--inactive {
				@extend %button-inactive;
			}
		}

		&__user + .header__user {
			margin-left: 20px;
		}

		&__inner {
			display: flex;
			justify-content: space-between;
		}

		&__info {
			max-width: 540px;
			width: 100%;
		}
	}

	&__inner {
		max-width: 540px;
		margin-right: auto;

		position: relative;

		&::after {
			content: '';
			display: block;

			position: absolute;
			right: -740px;
			top: -30px;
			z-index: 1;

			width: 724px;
			height: 580px;

			background: url(../img/top-img.svg) 95% 50% no-repeat;
			background-size: 100%;
		}
	}

	&__title {
		font-size: 44px;
		text-align: left;
	}

	&__subtitle {
		margin-top: 20px;
	}

	&__link {
		display: inline-flex;

		margin-top: 55px;
		@extend %button;

		&--inactive {
			@extend %button-inactive;
		}
	}

	&__link + &__link {
		margin-left: 20px;
	}

	&-video {
		margin-top: 60px;

		display: flex;
		align-items: center;

		&__link {
			background-color: #361c5d;
			border-radius: 4px;

			max-width: 140px;
			width: 100%;
			height: 80px;

			margin-right: 20px;

			display: block;

			position: relative;

			&::after {
				content: '';
				display: block;

				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);

				width: 48px;
				height: 48px;

				background: url(../img/icons/play-btn.svg) center no-repeat;
			}
		}

		&__text {
			@extend %rubik-400;
			font-size: 16px;
			line-height: 22px;
		}

		&__info {
			&-link {
				margin-top: 5px;
				color: #6d6d78;
				@extend %rubik-400;
				font-size: 14px;
				line-height: 22px;
			}
		}
	}
}

.partners {
	&__inner {
		display: flex;
		justify-content: space-around;

		margin-top: 110px;

		opacity: 0.3;
	}
}

.reasons {
	padding-top: 110px;
	padding-bottom: 150px;

	position: relative;

	&__subtitle {
		text-align: center;
		margin-top: 13px;
	}

	&__box {
		margin-top: 50px;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 35px 50px;

		position: relative;

		&::before,
		&::after {
			content: '';
			display: block;

			position: absolute;
			top: -375px;

			opacity: 0.1;
		}

		&::before {
			left: -220px;

			width: 261px;
			height: 554px;

			background: url(../img/decor/2.svg) center no-repeat;
		}

		&::after {
			right: -220px;

			width: 325px;
			height: 565px;

			background: url(../img/decor/1.svg) center no-repeat;
		}
	}

	&__item {
		padding-left: 52px;

		position: relative;

		&:nth-child(1)::before {
			background: url(../img/icons/icon_1.svg);
		}

		&:nth-child(2)::before {
			background: url(../img/icons/icon_2.svg);
		}

		&:nth-child(3)::before {
			background: url(../img/icons/icon_3.svg);
		}

		&:nth-child(4)::before {
			background: url(../img/icons/icon_4.svg);
		}

		&:nth-child(5)::before {
			background: url(../img/icons/icon_5.svg);
		}

		&:nth-child(6)::before {
			background: url(../img/icons/icon_6.svg);
		}

		&::before {
			content: '';
			display: block;

			position: absolute;
			top: 0;
			left: 0;

			width: 24px;
			height: 24px;

			background: $title-color;
		}
	}

	&__title {
		font-size: 18px;
		@extend %gilroy-700;
		color: $title-color;
	}

	&__text {
		font-size: 14px;
		margin-top: 10px;
	}
}
